


<table class="table main-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Experience</th>
          <th scope="col">View</th> 
          <th scope="col">Action</th>     
    
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=@user.id%></td>
          <td><%=@user.name%></td>
          <td><%=@user.experience%></td>
          <td><a href="/users/<%= @user.id %>/managements" class="link">check all project</a></td>
          <td>Delete</td>
        </tr>
      </tbody>  
    </table>