<h1>User Name :- <%=@user.name%></h1>
<h1>User Experience :- <%=@user.experience%></h1>

<a href="/users/<%= @user.id %>/managements">check all project</a><br/>
<%# <%=link_to "Add User Management" , new_user_management_path%> 